{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1> This is Web site</h1>
            <h2> Welcome to About</h2>
            <p> This is test Paragraph</p>
            <p>Welcome {{index .StringMap "test"}}</p>
            {{if ne (index .StringMap "remote_ip") ""}}

            Your remote ip address is {{index .StringMap "remote_ip"}}
            {{else}}
            i dont know your ip address visit the <a href="/">Home page</a> 

            {{end}}
        </div>
    </div>
</div>

{{end}}