{{define "base"}}
<!doctype html>
<html lang="en">

<head>
	<meta charset='uts-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-find=no">

	<title> My Page</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.1/dist/css/datepicker-bs4.min.css">
	<link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">



	<style>
		/*. means that it is for css classes 
	 without a . it would mean html class */
		.my-footer {
			height: 5em;
			background-color: #1bc9db;
			margin-top: 1em;
			padding: 1em;
			color: black;
			font-size: 100%;

		}

		.room-image {
			max-width: 50%;
		}

		.redText {
			color: red;
		}

		/* override styles here */
		.notie-container {
			box-shadow: none;
			background-color: chartreuse;
			color: red;
		}
		
	</style>


</head>

<body>

	<nav class="navbar navbar-expand-lg bg-info ">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Navbar</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
				aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/search-availability">Book Now</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/contact">Contact</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							Rooms
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/room1">Room 1</a></li>
							<li><a class="dropdown-item" href="/room2">Room 2</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

 
        {{block "content" . }}

        {{end}}



   
  

	<div class="row my-footer">
		<div class="col">
			left
		</div>
		<div class="col">
			middle
		</div>
		<div class="col">
			right
		</div>
	</div>



	<!-- This is javascript code but insted of writing it , i load a written code from these sites -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
		integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js"
		integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.1/dist/js/datepicker-full.min.js"></script>
	<script src="https://unpkg.com/notie"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- This line for specific pages JS scripts -->
    {{block "js" .}}

    {{end}}


	<!-- Usually javascript is written here for better performance -->
	<script>
		let attention = prompt();
		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(() => {
			'use strict'

			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			const forms = document.querySelectorAll('.needs-validation')

			// Loop over them and prevent submission
			Array.from(forms).forEach(form => {
				form.addEventListener('submit', event => {
					if (!form.checkValidity()) {
						event.preventDefault()
						event.stopPropagation()
					}

					form.classList.add('was-validated')
				}, false)
			})
		})()

		// This is the notie package usage for alerts
		function notify(msg, msgType) {
			notie.alert({
				type: msgType, // optional, default = 4, enum: [1, 2, 3, 4, 5, 'success', 'warning', 'error', 'info', 'neutral']
				text: msg,
				// stay: Boolean, // optional, default = false
				// time: Number, // optional, default = 3, minimum = 1,
				// position: String // optional, default = 'top', enum: ['top', 'bottom']
			});
		}

		function notifyModal(title, text, icon, CBtn) {
			swal.fire({
				title: title,
				text: text,
				icon: icon,
				confirmButtonText: CBtn,
			})
		}

		function prompt() {
			let toast = function (c) {
				// c will be overridden by the value in here if not specified
				const {
					msg = "",
					icon = "success",
					position = "top-end",
				} = c;
				const Toast = Swal.mixin({
					toast: true,
					title: msg,
					position: position,
					icon: icon,
					showConfirmButton: false,
					timer: 3000,
					timerProgressBar: true,
					didOpen: (toast) => {
						toast.addEventListener('mouseenter', Swal.stopTimer)
						toast.addEventListener('mouseleave', Swal.resumeTimer)
					}
				})

				Toast.fire({});
			}
			let success = function (a) {
				const {
					msg = "",
					title = "",
					footer = "",
				} = a;
				Swal.fire({
					icon: "success",
					title: title,
					text: msg,
					footer: footer

				})
			}
			let error = function (a) {
				const {
					msg = "error",
					title = "",
					footer = "",
				} = a;
				Swal.fire({
					icon: "error",
					title: title,
					text: msg,
					footer: footer

				})
			}

			async function custom(c){
				const{
					msg="",
					title="",
				}=c;
				const { value: formValues } = await Swal.fire({
				title: title,
				html:msg,
				backdrop:false, // background darkening
				focusConfirm: false,
				showCancelButton: true,
				willOpen:() => {
					const elem=document.getElementById('reservation-dates-modal');
					const rp= new DateRangePicker(elem , {
						format: 'yyyy-mm-dd',
						showOnFocus: false,
						orientation:'top',
					})
				},
				preConfirm: () => {
					return [
					document.getElementById('start').value,
					document.getElementById('end').value
					]
				}
				})

				if (formValues) {
				Swal.fire(JSON.stringify(formValues))
				}
			}
			return {
				toast: toast,
				succes: success,
				error:error,
				custom:custom,
			}
		}

	</script>


</body>


</html>

    {{end}}